 .header {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: none;
}

header, nav, footer {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    align-content: center;
}

figure, picture {
    margin: 0;
    padding: 0;
}

.nav-details {
    display: block;
    height: 130px;
}

.h1-details {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 80px;
}

#maincontent {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.filter-options {
    display: flex;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

#map-container {
    display: flex;
    height: 180px;
    width: 100%;
    /*position: relative;
    right: 0;
    top: 80px;*/
    /*justify-content: center;*/
}

.middle-nav {
    display: flex;
    flex-wrap: wrap;
}

.review-heading {
    display: flex;
    justify-content: space-between;
}

/* Style of the focussed element */
:focus {
    outline: 2px dashed #3740a8;
    box-shadow: 0 0 8px 3px
    rgba(255, 255, 255, 0.8);
}

/* When tabbing, there is the option: Skip the map and go directly filter results */
.skip {
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 2000;
    font-size: 1.2em;
}

  .skip:focus {
    top: 0;
}


@media screen and (max-width: 619px) {
    /* ====================== Home and Restaurant.html ====================== */
    .title {
        font-size: 30px;
    }
    nav h1 a {
        letter-spacing: 2px;
    }
    #maincontent {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
    }
    #map-container{
        /*display: flex;*/
        height: 360px;
        width: 100%;
        /*position: relative;*/
        right: 0;
        /*top: 80px; */
    }
    #map {
        height: 360px;
        width: 100%;
    }
    /* ====================== Restaurant details page ====================== */
    .inside {
        display: flex;
    }
    .inside #maincontent {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
    }
    #breadcrumb {
        width: 100%;
        font-size: 22px;
    }
    .inside #map-container {
        /*display: flex;*/
        width: 100%;
        height: 250px;
        position: relative;
        top: 130.8px;
        padding: 0;
    }
    .inside #map {
        height: 250px;
        width: 100%;
    }
    /**Zoom and Logo of the map should not be above fixed elements when page is scrolled **/
    .inside #map > div.leaflet-control-container > div.leaflet-top,
    .inside #map > div.leaflet-control-container > div.leaflet-bottom {
        position: static;
    }
    .inside #map > div.leaflet-control-container > div.leaflet-bottom {
        padding-top: 117px;
    }
    .inside #restaurant-container {
        width: 100%;
        margin: auto;
    }
    #restaurant-container, #reviews-container {
        padding-left: 20px;
        padding-right: 20px; 
    }
    #restaurant-name {
        text-align: center;
    }
    .inside #restaurant-img {
        width: 100%;
    }
    .inside #reviews-container {
        width: 100%;
    }   
    .inside #footer {
        display: flex;
        width: 100%;
        height: auto;
    }

    /* ====================== Home page - Restaurant Filtering ====================== */
    .middle {
        width: 100%;
    }
    .filter-options {
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .filter-options h2 {
        margin: 5px 10px 0 10px;
        float: left;
    }
    .filter-options select {
        width: auto;
        margin: 5px;
    }
    /* ====================== Home page - Restaurant Listing ====================== */
    #restaurants-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding: 5px;
        
    }
    #restaurants-list li {
        width: 100%;
        padding: 0;
        margin: auto;
        margin-bottom: 12px;
    }
    #restaurants-list .restaurant-img {
        width: 100%;
    }
    #restaurants-list li h2 {
        padding: 0 5px;
    }
    #restaurants-list p {
        margin: 0 5px;
    }
    #restaurants-list li a {
        margin: 0 5px;
        position: static;
    }
}

@media screen and (min-width: 620px) and (max-width: 1009px) {
    /*body {
        width: 720px;
    }*/
    #maincontent {
        padding: 0 20px;
    }
    .middle #map-container {
        width: 80%;
        height: 350px;
        justify-content: center;
        margin: auto;
        /*padding: 0 70px;*/
    }
    #map {
        width: 100%;
        height: 350px;
        /*align-self: center;
        margin: auto; -- it doesn't work*/
    }
    .rest-list {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: center;
    }
    .filter-options {
        margin: auto;
        width: 80%;
    }
    #restaurants-list {
        padding-left: 10px;
        padding-right: 10px;
    }
    /**Zoom and Logo of the map should not be above fixed elements when page is scrolled **/
    .inside #map > div.leaflet-control-container > div.leaflet-top,
    .inside #map > div.leaflet-control-container > div.leaflet-bottom {
        position: static;
    }
    .inside #map > div.leaflet-control-container > div.leaflet-bottom {
        padding-top: 225px;
    }
}

@media screen and (min-width: 700px) {
    .filter-options select {
        width: 180px;
    }
}

@media screen and (min-width: 1010px) {
    /****-Rest details*****/
    #maincontent {
        /*width: 70%;*/
        padding: 0 50px;
    }
    #breadcrumb li {
        font-size: 17px;
    }
    #restaurant-img {
        width: 75%;
    }
    #restaurant-cuisine {
        width: 75%;
    }
    .middle-nav {
        display: flex;
    }
    .middle {
        display: flex;
    }
    .middle #map-container {
        width: 40%;
        min-width: 440px;
        /*max-width: 420px;*/
        /*width: 330px;*/
        height: 500px;
        padding: 0 20px;
    }
    #map {
        height: 500px;
        width: 100%;
    }
    .rest-list {
        /*width: 60%;*/
        margin: auto;
        padding: 0;
    }
    #restaurants-list {
        padding-left: 0px;
        padding-right: 0px;
    }
    .filter-options {
        /*width: 60%;*/
        height: 60px;
        padding: 0;
        margin: 0;
        align-self: auto;
    }
    /**Zoom and Logo of the map should not be above fixed elements when page is scrolled **/
    /*.leaflet-top, .leaflet-bottom {*/
    .inside #map > div.leaflet-control-container > div.leaflet-top,
    .inside #map > div.leaflet-control-container > div.leaflet-bottom {
        position: static;
    }
    .inside #map > div.leaflet-control-container > div.leaflet-bottom {
        padding-top: 230px;
    }
}

@media screen and (min-width: 1010px) and (max-width: 1200px) {
    #maincontent {
        padding: 0 5px;
        margin: 0;
    }
    #map-container {
        width: 390px;
        padding-left: 15px;
        padding-right: 5px;
    }
    #map {
        width: 390px;
    }
}
